a {
  text-decoration: none;
}
.demo-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.demo-main {
  overflow: auto;
}
.mdc-card {
  cursor: pointer;
  background-color: #fff;
}
.mdc-card__primary:last-child {
  padding-bottom: 16px;
}
.card-bg {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mdc-card__title, .mdc-card__subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.phone-dialog-header {
  padding: 0px 24px;
}
.phone-dialog-specs-title {
  display: inline-block;
  width: 175px;
  padding: 5px 0px;
}
.phone-dialog-specs-title-purchase {
  padding-top: 20px;
  padding-bottom: 5px;
}
.phone-dialog-specs-spec {
  display: inline-flex;
  padding-bottom: 5px;
}
.phone-dialog-specs-purchase-buttons {
  display: inline-block;
  width: 175px;
  margin-bottom: 10px;
}
.phone-dialog-body {
  color: black;
  max-height: 325px;
  margin-top: 0px;
}
.purchase-button {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff!important;
}
.caption_section {
  padding: 24px;
}
@media (max-width: 360px) {
  .phone-dialog-specs-spec {
    width: 152px;
  }
}
@media (max-width: 425px) {
  .phone-dialog-specs-title, .phone-dialog-specs-purchase-buttons {
  	width: 130px;
  }
  .phone-dialog-specs-spec {
    width: 204px;
  }
}
/*@media (max-width: 1024px) {
  .mdc-dialog__surface {
  	max-width: 640px;
  	min-width: 480px;
  }
  .phone-dialog-body {
  	max-height: 640px;
  }
}*/
@media (min-width: 1024px) {
  #fab {
    bottom:2rem;
    right:3rem;
  }
  .phone-dialog-body {
    max-height: 540px;
  }
}
@media (max-height: 412px) {
  .phone-dialog-body {
    max-height: 220px;
  }
}
@media (max-height: 360px) {
  .phone-dialog-body {
    max-height: 200px;
  }
}
@media (max-height: 320px) {
  .phone-dialog-body {
    max-height: 150px;
  }
}